._*
**/workflow/.*
**/workflow/rules/.*
**/workflow/src/.*
**/workflow/src/bam2bedpe_scripts/.*
**/workflow/.snakemake/
**/workflow/logs_slurm/
**/workflow/slurm*
**/workflow/test*
**/example_samplesheets/test*
.DS_Store
._.DS_Store
workflow/src/bam2bedpe_scripts/run_bam2bedpe.sh

